.joke-container {
  width: 80%;
  background-color: rgb(68, 68, 68);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 50px;
}

.joke {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
